@media only screen and (min-width : 480px) {
  body{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

  }
  .navbar {
    width:100%;
    display:flex;
    justify-content:flex-end;
    height: 55px;
    ul {
      display:flex;
      width:25%;
      justify-content:space-between;

    }
  }

  #btn-nav-register{
    margin-top: 0px;
  }

  #search-results{
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
  }


  .sidebar {
    width:30%;
  }

  .main {
    width:60%;
  }
  .flight{
    width:49%;

  }
  .currency{
    font-size:0.5em;
  }
}

@media only screen and (min-width : 768px) {

  .main{
    display:flex;
    align-items:center;
    justify-content:center;
    width:64%;
  }
  .sidebar{
    max-width:250px;
    position: absolute;
    left: 0;
    top: 55px;
  }
  #wdw-search-results{
    width:100%;
    flex-direction:row;
  }

  .flight{
    width:24%;

  }
  .flight-price{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

}
