
$foreground-color: #FFB300;
$background-color: cadetblue;
$transition-color: #F2ae72;
$highlight-color: #ff7043;
$darkest-color: #8c4646;

* {
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
}

ul{
  margin-bottom: 0px !important;
}

body{
  background-color: $background-color !important;
  width:100vw;
  max-width:100%;
  display:flex;
  flex-wrap:wrap;

}
.wdw:not(#wdw-offers){
  display:none;
}

.navbar {
  background-color: $foreground-color;
  padding:10px;
  margin-bottom: 0px !important;
  height: 95px;
  width:100%;
  order:1;
}

#btn-logout{
  display:none;
}

.basic-form {
  display: flex;
  flex-direction:column;
  width: 100%;
  order:2;
}

.wdw-payment {
  padding: 5px !important;
  flex-direction: column;
}

.wdw-payment-InputArea {
  margin-top: 5px;
  margin-bottom: 5px;
}
.wdw-receipt{
  display: none;
}



#btn-complete-payment {
  width: 100%;
}

.sidebar {
  background-color: $highlight-color;
  padding:10px;
  display:flex;
  width:100%;
  flex-direction:column;
  justify-content:center;
  order:2;
}

.main {
  width:100%;
  padding:10px;
  display:flex;
  justify-content:center;
  order:3;
}

#wdw-search-results {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    list-style:none;
  }
}

.hidden-input {
  margin-right: 5px !important;
}

#lbl-from, #lbl-to, #lbl-departure, #lbl-return, #lbl-trip-type {
  margin-bottom: 7px;
}

.search-form-empty span {
  margin-top: 7px;
}

.btn-search-flight {
  margin-top: 5px;
}

.flight{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-bottom:3vh;
  cursor: pointer;
  color: cadetblue;

}
.flight-date{
  width:100%;
  background-color: $foreground-color;
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  border-bottom: solid cadetblue;
}

#btn-nav-login {
  margin-right: 3px;
}

.sidebar{
  button{
      margin-top: 5px;
    }
  }

.flight-body {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:100%;
  height: 100px;
  background-color:$foreground-color;
  padding: 10px;
}
.flight-price{
  background-color:$foreground-color;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  border-radius: 0px 0px 20px 20px;
  border-top: solid cadetblue;

}
#wdw-receipt {
  color: cadetblue;
  background-color: $foreground-color;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
}
.search-form-full{
  display:none;
}

#welcome-msg {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
}
#wdw-profile{
  display:flex;
  flex-direction:column;
}
#wdw-receipt{
  flex-direction:column;
}

@import "media-queries.scss";
