
$foreground-color: #588c79;
$background-color: #f2e394;
$transition-color: #F2ae72;
$highlight-color: #d96459;
$darkest-color: #8c4646;

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}
  .wrapper {
    width: 95%;
    max-width: 65em;
  }
  .column-1 {
    width: 8.33333%;
  }
  .column-2 {
    width: 16.66667%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.33333%;
  }
  .column-5 {
    width: 41.66667%;
  }
  .column-6 {
    width: 50%;
  }
  .column-7 {
    width: 58.33333%;
  }
  .column-8 {
    width: 66.66667%;
  }
  .column-9 {
    width: 75%;
  }
  .column-10 {
    width: 83.33333%;
  }
  .column-11 {
    width: 91.66667%;
  }
  .column-12 {
    width: 100%;
  }

* {
  margin:0;
  padding:0;
}
body{
  background-color: $background-color;
  width:100vw;
  max-width:100%;

}


.navbar {
  background-color: $foreground-color;
  padding:10px;
}
.navbar ul {
  list-style:none;
}

.sidebar {
  background-color: $highlight-color;
  padding:10px;

}
.sidebar form {
  display:flex;
  flex-direction:column;
  justify-content:center;

}
.main {
  padding:10px;
}
#wdw-search-results {
  display:flex;
  flex-direction:column;
  ul{
    display:flex;
    flex-direction:column;
    align-items:center;
    list-style:none;
  }
}

.flight{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-bottom:3vh;

}
.flight-date{
  width:100%;
  background-color:white;
}
.flight-body {
  display:flex;
  justify-content:space-between;
  width:65%;
  background-color:$darkest-color;

}
.flight-price{
  background-color:$transition-color;
  width:30%;

}




@import "media-queries";